<!DOCTYPE html>

<html>
    <head>
        <title>Inicio de Sesión</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <form >
                <div>
                    <label for="nombreusuario"> Nombre:</label>
                    <input type="text" id="nombreusuario" name="nombreusuario">                    
                </div>
                <div>
                    <label for="contaseñausuario"> Contraseña:</label>
                    <input type="password" id="pass" name="pass">                    
                </div>              
            </form>
        </div>
    </body>
</html>
